.safety {
  color: red;
  font-style: oblique;
  font-family: Roman;
  font-size: 20px;
  background-color: tan;

}
h2 {
  text-decoration: underline;
}
.peers {

}
.drugs {

}
.tools {

}
.bullies {

}
